<section class="flex flex-col w-full gap-5 mx-auto mb-10 text-gray-700 sm:w-11/12 md:w-10/12 xxl:w-9/12 lg:max-w-1024">
  <h2 class="ml-5 text-2xl font-bold">旅程</h2>
  <div data-controller="booking-list-expand" class="flex flex-col justify-center">
    <% if current_user.bookings.paid.not_due.present? %>
      <div>
        <div class="grid w-full grid-cols-3 p-3 mb-1 border border-gray-200 md:flex-start md:p-0 rounded-xl">
          <div class="flex flex-col items-center w-full col-span-2 m-3 md:items-start md:m-8 xl:col-span-1">
            <div class="py-5">
              <i class="text-4xl text-pink-600 fa-solid fa-suitcase-rolling"></i>
            </div>
            <span class="my-1 text-lg font-bold"><%=@first_booking.start_at %> - <%=@first_booking.end_at %> 的旅程</span>
            <span class="mb-5 text-sm text-gray-500">共<%=(@first_booking.end_at - @first_booking.start_at).to_i%>晚</span>
            <button class="w-full py-3 font-bold text-white bg-pink-500 rounded-lg md:w-28"><%= link_to '訂單資訊', booking_path(@first_booking.id)%></button>
          </div>
          <div class="col-span-2 rounded-r-xl md:block">
            <% if Room.find(@first_booking.room_id).photos.attach %>
              <%= image_tag Room.find(@first_booking.room_id).photos.first, class:"object-cover rounded-r-xl w-full h-72"%>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.bookings.paid.not_due.size > 1 %>
        <button class="flex justify-center w-full py-2 font-bold text-gray-400 bg-gray-200 rounded" data-action="click->booking-list-expand#expand" data-booking-list-expand-target="expandBtn"><i class="fa-solid fa-caret-down"></i> 更多已預定旅程</button>
        <div class="hidden" data-booking-list-expand-target="listToExpand">
          <% current_user.bookings.where(state: "paid").order(start_at: :ASC)[1..current_user.bookings.size].each do |booking| %>
            <div class="grid w-full grid-cols-3 p-3 mb-8 border border-gray-200 md:flex-start md:p-0 rounded-xl">
              <div class="flex flex-col items-center w-full col-span-2 m-3 md:items-start md:m-8 xl:col-span-1">
                <div class="py-5">
                  <i class="text-4xl text-pink-600 fa-solid fa-suitcase-rolling"></i>
                </div>
                <span class="my-1 text-lg font-bold"><%=booking.start_at %> - <%=booking.end_at %> 的旅程</span>
                <span class="mb-5 text-sm text-gray-500">共<%=(booking.end_at - booking.start_at).to_i%>晚</span>
                <button class="w-full py-3 font-bold text-white bg-pink-500 rounded-lg md:w-28"><%= link_to '訂單資訊', booking_path(booking)%></button>
              </div>
              <div class="col-span-2 rounded-r-xl md:block xl:2/5">
                <% if Room.find(@first_booking.room_id).photos.attach%>
                  <%= image_tag Room.find(booking.room_id).photos.first, class:"object-cover rounded-r-xl w-full h-72"%>
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
        <button class="justify-center hidden w-full py-2 font-bold text-gray-400 bg-gray-200 rounded" data-action="click->booking-list-expand#collapse" data-booking-list-expand-target="collapseBtn"><i class="fa-solid fa-caret-up"></i> 收回</button>
      <% end %>
    <% else %>
      <div class="flex justify-center w-full mb-8 border border-gray-200 md:flex-start md:p-0 rounded-xl">
        <div class="flex flex-col items-center w-full m-3 md:items-start md:m-8 xl:w-1/3">
          <div class="py-5">
            <i class="text-4xl text-pink-600 fa-solid fa-hands-clapping fa-flip-horizontal"></i>
          </div>
          <span class="my-1 text-lg font-bold">還沒預訂任何旅程！</span>
          <span class="mb-5 text-sm text-gray-500">該拿出行李箱，開始規劃下一趟冒險之旅了</span>
          <a  href="<%= root_path %>"  class="btn w-fit">開始搜尋</a>
        </div>
        <div class="hidden rounded-r-xl md:block xl:2/5)">
          <img class="object-cover h-full rounded-r-xl" style="aspect-ratio: 4 / 1" src="https://a0.muscache.com/im/pictures/d727f355-3f10-44b5-9750-d1efca2438fc.jpg?im_w=1200" alt="">
        </div>
      </div>
    <% end %>
  </div>
  <% if @past_bookings.present? %>
    <div>
      <h2 class="mb-6 text-2xl font-bold">你去過的地方</h2>
      <div class="grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
        <% @past_bookings.each do |booking| %>
          <a href="<%=booking_path(booking)%>" class="flex overflow-hidden bg-white border rounded-md shadow-lg max-h-min">
            <div class="w-28">
              <%= image_tag Room.find(booking.room_id)&.photos.first, class:"object-cover h-full w-full "%>
            </div>
            <div class="flex flex-col justify-start flex-shrink-0 gap-3 p-3 ">
              <h3 class="text-lg font-bold"><%=Room.find(booking.room_id).address%></h3>
              <span class="text-sm text-gray-500">房東：<%=User.find(Room.find(booking.room_id).user_id).name%></span>
              <span class="text-sm text-gray-500"><%=booking.start_at%> - <%=booking.end_at%></span>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  <%end%>
</section>
