<div>
  <h1>訂單編號</h1>
  <li>
    bookingID
    <%= @booking.id%>
  </li>
  <li>
    RoomID
    <%= @booking.room_id%>
  </li>
  <li>
    UserID
    <%= @booking.user_id%>
  </li>
</div>
<%= form_with(model: @review, url:create_review_booking_path) do |review| %>
  <%= review.hidden_field :user_id, value: current_user.id %>
  <%= review.hidden_field :room_id, value: @booking.room_id %>
  <%= review.hidden_field :review_to, value:"room"%>
  <%= review.text_field :comment, class:"input h-28 resize-none overflow-y-scroll"%>
  <%#= review.select :review_to,options_for_select(Review.review_tos.keys,'0')%>
  <%= review.select :accuracy_rating,options_for_select(Review.accuracy_ratings.keys,'5'),{}, class:"input"%>
  <%= review.select :accuracy_rating,options_for_select(Review.accuracy_ratings.keys,'5'),{}, class:"input"%>
  <%= review.select :check_in_rating,options_for_select(Review.check_in_ratings.keys,'5'),{}, class:"input"%>
  <%= review.select :cleanliness_rating,options_for_select(Review.cleanliness_ratings.keys,'5'),{}, class:"input"%>
  <%= review.select :communication_rating,options_for_select(Review.communication_ratings.keys,'5'),{}, class:"input"%>
  <%= review.select :location_rating,options_for_select(Review.location_ratings.keys,'5'),{}, class:"input"%>
  <%= review.select :value_rating,options_for_select(Review.value_ratings.keys,'5'),{}, class:"input"%>
  <%= review.submit class:"border p-2 block font-bold text-gray-400 bg-white w-fit rounded-xl hover:text-gray-500" do %>
    送出
  <%end%>
<% end %>
