<nav class="fixed flex items-center justify-between w-full h-20 px-5 mx-auto bg-white shadow-md z-999 sm:px-10">
  <!-- logo -->
  <a class="flex items-center justify-center h-full min-w-max" href="<%= rooms_path %>"
      >
    <div class="hidden sm:block">
      <%= image_tag "logo_small.svg",class:"h-7",alt:"roomit_logo" %>
    </div>
    <div class="block sm:hidden">
      <%= image_tag "fav_icon.svg",class:"h-7",alt:"roomit_logo" %>
    </div>
  </a>
  <!-- logo end -->
  <!-- search bar -->
  <%= link_to search_index_path do %>
    <button class="items-center hidden p-2 text-gray-400 border rounded-full hover:border-gray-300 h-11 md:flex hover:shadow-md hover:text-gray-800" type="button">
      <div class="flex-grow flex-shrink block px-20">搜尋房源</div>
      <div class="flex items-center justify-center w-8 h-8 rounded-full bg-color-main">
        <i class="text-sm text-white fa-solid fa-magnifying-glass"></i>
      </div>
    </button>
  <%end%>
  <!-- search bar end -->
  <!-- login -->
  <div>
    <div class="flex items-center justify-end ">
      <!-- 發佈房源 -->
      <a class="hidden mr-4 lg:block" href="<%= new_room_path %>">
        <div class="flex items-center justify-center px-2 py-1 border rounded-full h-11 hover:bg-gray-200 hover:border-gray-300 hover:shadow-md">
          <div class="text-sm font-medium text-gray-700 ">發佈 Roomit 房源</div>
        </div>
      </a>
      <a class="mr-4 lg:hidden" href="<%=new_room_path%>">
        <div class="flex items-center gap-1 px-2 py-1 bg-white border rounded-full h-11 w-fit hover:bg-gray-200 hover:border-gray-500 hover:shadow-md ">
          <i class="text-2xl text-gray-700 fa-regualr fa-plus"></i>
          <span class="text-sm font-medium text-gray-700">發佈房源</span>
        </div>
      </a>
      <!-- 漢堡選單 -->
      <div data-controller="dropdown" class="relative">
        <button data-action="dropdown#toggle click@window->dropdown#hide" type="button"  class="relative inline-flex items-center px-2 py-1 border rounded-full h-11 hover:border-gray-300 hover:shadow-md">
          <div class="pl-1">
            <i class="text-gray-600 fa-solid fa-bars text-md "></i>
          </div>
          <div class="block pl-3 ">
            <% if !current_user || !current_user&.avatar.attached? %>
              <div class="flex items-center justify-center w-8 h-8 rounded-full ">
                <i class="text-3xl gradient-text fa-solid fa-circle-user"></i>
              </div>
            <% else %>
              <%= image_tag current_user.avatar, class:"rounded-full w-8 h-8 object-cover"%>
            <% end %>
          </div>
        </button>
        <div data-dropdown-target="menu" class="absolute right-0 hidden w-48 py-2 mt-2 bg-white rounded-lg shadow-lg z-999">
          <% if user_signed_in? %>
            <%= link_to "帳號", edit_user_registration_path, class: "nav-item " %>
            <%= link_to "旅程", bookings_path, class: "nav-item "%>
            <%= link_to "管理房源", manage_rooms_path, class: "nav-item "%>
            <%= link_to "心願單", wish_list_rooms_rooms_path , class: "nav-item " %>
            <%= link_to "登出", destroy_user_session_path, method: :delete, class: "nav-item border-0" %>
          <%else%>
            <button  data-bs-toggle="modal" data-bs-target="#signup" class= "w-full text-left nav-item">註冊</button>
            <button  data-bs-toggle="modal" data-bs-target="#signin" class= "w-full text-left border-0 nav-item">登入</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- end login -->
</nav>
<!-- sign_in model-->
<div class="fixed top-0 left-0 hidden w-full h-full overflow-x-hidden overflow-y-auto outline-none modal fade" id="signin" tabindex="-1" aria-labelledby="signinTitle" aria-modal="true" role="dialog">
  <div class="relative w-auto pointer-events-none modal-dialog modal-dialog-centered">
    <div class="relative flex flex-col w-full text-current bg-white border-none rounded-md shadow-lg outline-none pointer-events-auto modal-content bg-clip-padding">
      <div class="flex items-center justify-between flex-shrink-0 p-4 border-b border-gray-200 modal-header rounded-t-md">
        <div class="w-8"></div>
        <div class=""id="exampleModalScrollableLabel">
          <%= image_tag "logo_small.svg",class:"h-7",alt:"roomit_logo" %>
        </div>
        <button class="w-8 h-8 rounded-full hover:bg-gray-200" data-bs-dismiss="modal" aria-label="Close">
          <i class="text-2xl text-gray-700 i-center fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="relative p-4 modal-body">
        <div class="flex flex-col gap-4 ">
          <form action="/users/sign_in" method="POST" >
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>"/>
            <div class="flex flex-col gap-4">
              <div>
                <label class="block" for="email">電子信箱</label>
                <input id="email " name="user[email]" type="email" placeholder="輸入電子信箱" autocomplete="username" class="input"/>
              </div>
              <div>
                <label class="block">密碼</label>
                <input id="password " name="user[password]" type="password" placeholder="輸入密碼" autocomplete="current-password" class="input"/>
              </div>
            </div>
            <div class="mt-3 mb-5">
              <input name="user[remember_me]" type="hidden" value="0" autocomplete="off">
              <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
              <label for="user_remember_me">記住我</label>
            </div>
            <div class="rounded-lg bg-color-main bg-color-main-hover">
              <button type="submit" name="commit" value="Log in" data-disable-with="Log in" class="w-full px-6 py-3 font-bold text-white ">
                登入
              </button>
            </div>
          </form>
          <hr>
          <form action="/users/auth/facebook" method="POST">
            <button class="button_to OAuth-btn" type="submit" method="post" value="Log in with Facebook" >
              <i class="text-2xl fa-brands fa-facebook text-facebook text-fb"></i>
              <p class="font-semibold text-gray-600">使用Facebook登入</p>
              <div class="w-6"></div>
              <input type="hidden" name="authenticity_token" value="84SKExKnPnsKWEc0ro3rGQ_uRZsfYEjYP2Ff8uIPEyZT5YkC4Xt9eP2zPPo4MQEiQzw2hhuRA5bjRhOj1uECRA" autocomplete="off"/>
            </button>
          </form>
          <form action="/users/auth/google_oauth2" method="POST">
            <button class="button_to OAuth-btn" type="submit" method="post" value="Log in with Google">
              <i class="text-2xl fa-brands fa-google text-facebook"></i>
              <p class="font-semibold text-gray-600">使用Google登入</p>
              <div class="w-6"></div>
              <input type="hidden" name="authenticity_token" value="VormYpSwC-iSXZWLTu0nwJk4FgWODYUMpYW8Fjkw2tB38qTy5YlQSjZ29mZBtPV_THoi8Nspt2zx_ieZ5RsGPw" autocomplete="off"/>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sign_in model end-->
<!-- sign_up model-->
<div class="fixed top-0 left-0 hidden w-full h-full overflow-x-hidden overflow-y-auto outline-none modal fade" id="signup" tabindex="-1" aria-labelledby="signupTitle" aria-modal="true" role="dialog">
  <div class="relative w-auto pointer-events-none modal-dialog modal-dialog-centered">
    <div class="relative flex flex-col w-full text-current bg-white border-none rounded-md shadow-lg outline-none pointer-events-auto modal-content bg-clip-padding">
      <div class="flex items-center justify-between flex-shrink-0 p-4 border-b border-gray-200 modal-header rounded-t-md">
        <div class="w-8"></div>
        <div class=""id="exampleModalScrollableLabel">
          <%= image_tag "logo_small.svg",class:"h-7",alt:"roomit_logo" %>
        </div>
        <button class="w-8 h-8 rounded-full hover:bg-gray-200" data-bs-dismiss="modal" aria-label="Close">
          <i class="text-2xl text-gray-700 i-center fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="relative p-4 modal-body">
        <div class="flex flex-col gap-4 ">
          <form action="/users" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
            <div class="flex flex-col gap-4 mb-5">
              <div>
                <label class="block" for="email">電子信箱</label>
                <input id="email " name="user[email]" type="email" placeholder="輸入電子信箱" autocomplete="username" class="input"/>
              </div>
              <div>
                <label class="block">密碼</label>
                <input id="password " name="user[password]" type="password" placeholder="輸入密碼" autocomplete="current-password" class="input"/>
              </div>
              <div>
                <label class="block">確認密碼</label>
                <input id="password_confirm" name="user[password_confirmation]" type="password" placeholder="再次輸入密碼" autocomplete="current-password" class="input"/>
              </div>
            </div>
            <div class="rounded-lg bg-color-main bg-color-main-hover">
              <button type="submit"name="commit" value="Sign up" data-disable-with="Sign up" class="w-full px-6 py-3 font-bold text-white">註冊帳號
              </button>
            </div>
          </form>
          <hr>
          <form action="/users/auth/facebook" method="POST">
            <button class="button_to OAuth-btn" type="submit" method="post" value="Log in with Facebook" >
              <i class="text-2xl fa-brands fa-facebook text-facebook text-fb"></i>
              <p class="font-semibold text-gray-600">使用Facebook登入</p>
              <div class="w-6"></div>
              <input type="hidden" name="authenticity_token" value="84SKExKnPnsKWEc0ro3rGQ_uRZsfYEjYP2Ff8uIPEyZT5YkC4Xt9eP2zPPo4MQEiQzw2hhuRA5bjRhOj1uECRA" autocomplete="off"/>
            </button>
          </form>
          <form action="/users/auth/google_oauth2" method="POST">
            <button class="button_to OAuth-btn" type="submit" method="post" value="Log in with Google">
              <i class="text-2xl fa-brands fa-google text-facebook"></i>
              <p class="font-semibold text-gray-600">使用Google登入</p>
              <div class="w-6"></div>
              <input type="hidden" name="authenticity_token" value="VormYpSwC-iSXZWLTu0nwJk4FgWODYUMpYW8Fjkw2tB38qTy5YlQSjZ29mZBtPV_THoi8Nspt2zx_ieZ5RsGPw" autocomplete="off"/>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sign_up model end-->
