<%= form_with(model: room) do |room| %>
  <div class="mb-2">
    <%= room.label :home_type, "房源類型 *" %>
    <%= room.select :home_type, options_for_select(Room.home_types.keys), {prompt: '選擇房源類型'}, class:"input"%>
  </div>
  <div class="mb-2">
    <%= room.label :room_type, "房間類型 *" %>
    <%= room.select :room_type, options_for_select(Room.room_types.keys), {prompt: '選擇房間類型'}, class:"input"%>
  </div>
  <div class="flex justify-between mb-2">
    <div class="w-1/4">
      <%= room.label :max_occupancy, "可容納人數 *" %>
      <%= room.number_field :max_occupancy, in: 1..30, class:"input"%>
    </div>
    <div class="w-1/4">
      <%= room.label :bedrooms, "臥房數 *" %>
      <%= room.number_field :bedrooms, in: 1..10, class:"input"%>
    </div>
    <div class="w-1/4">
      <%= room.label :bathrooms, "衛浴間數 *" %>
      <%= room.number_field :bathrooms, in: 1..100, class:"input"%>
    </div>
  </div>
  <div class="flex justify-between mb-2">
    <div>
      <%= room.label :has_bathtub, "浴缸" %>
      <%= room.check_box :has_bathtub, class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
    </div>
    <div>
      <%= room.label :has_kitchen, "廚房" %>
      <%= room.check_box :has_kitchen, class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
    </div>
    <div>
      <%= room.label :has_air_con, "空調" %>
      <%= room.check_box :has_air_con, class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
    </div>
    <div>
      <%= room.label :has_wifi, "wifi" %>
      <%= room.check_box :has_wifi, class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
    </div>
  </div>
  <div class="mb-2">
    <%= room.label :summary, "房間簡介 *" %>
    <%= room.text_area :summary, class:"input h-28"%>
  </div>
  <div class="mb-2">
    <%= room.label :address, "地址 *" %>
    <%= room.text_field :address, class:"input"%>
  </div>
  <div class="mb-2">
    <%= room.label :price, "每晚價格 *" %>
    <%= room.number_field :price, in: 1..100000, class:"input"%>
  </div>
  <div class="justify-between w-full mb-2">
    <div class="flex">
      <%= room.label :checkin_start_at, "可入住時間 *" %>
      <p class="ml-3 text-gray-400">需要3個小時以上時間供旅人入住</p>
    </div>
    <div class="flex items-center">
      <p class="mr-5">從</p>
      <div class="relative flex items-center">
        <%= room.time_field :checkin_start_at, class:"input"%>
      </div>
      <p class="mx-5">到</p>
      <div class="relative flex items-center">
        <%= room.time_field :checkin_end_at, class:"input"%>
      </div>
    </div>
  </div>
  <div class="w-2/3 mb-2">
    <%= room.label :checkout_time, "退房時間 *" %>
    <div class="relative flex items-center">
      <%= room.time_field :checkout_time, class:"input"%>
    </div>
  </div>
  <div class="w-2/3 mb-2">
    <%= room.label :photos, '上傳圖片'%>
    <%= room.file_field :photos, multiple: true %>
  </div>
  <div>
    <%= room.submit form_submit_text, class:"px-4 py-2 font-semibold text-white bg-pink-600 rounded-lg shadow-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"%>
  </div>
  <div class="w-2/3 mb-2">
    <%= room.label :photos, '上傳圖片'%>
    <%= room.file_field :photos, multiple: true %>
  </div>
  <div>
    <%= room.submit form_submit_text, class:"px-4 py-2 font-semibold text-white bg-pink-600 rounded-lg shadow-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"%>
  </div>
<% end %>
