<main class="w-full px-5 text-gray-700 sm:px-10">
  <div class="grid grid-cols-1 gap-x-7 gap-y-7 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 ">
    <% @rooms.each do |room| %>
      <div class="relative card-carousel-container">
        <%= link_to room_path(room) do %>
          <div data-controller="carousel" class="relative flex-grow mx-auto rounded-lg group swiper-container" 
                data-carousel-options-value='{"loop":"true","pagination": { "el": ".swiper-pagination", "dynamicBullets": "true" }, "navigation": {"nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}}'>
            <div class="absolute z-30 flex flex-col justify-between w-full h-full p-3">
              <% if current_user %>
                <button class="self-end text-2xl text-center transition duration-150 ease-in-out transform hover:scale-125"data-controller="wishList" data-action="click->wishList#wishListState" data-id="<%= room.id%>" data-liked="<%= current_user&.liked_wish_list_rooms&.include?(room) %>">
                  <i data-wishList-target="wishListIcon" class="text-gray-500 opacity-80 fa-solid fa-heart"></i>
                </button>
              <%end %>
              <div class="flex justify-between w-full my-auto transition duration-500 ease-out opacity-0 group-hover:opacity-100">
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-70 hover:opacity-100 swiper-button-prev">
                  <i class="text-gray-700 fa-solid fa-chevron-left"></i>
                </div>
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-70 hover:opacity-100 swiper-button-next">
                  <i class="text-gray-700 fa-solid fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="self-center mb-5 swiper-pagination"></div>
            <div class="relative swiper-wrapper">
              <% room.photos[0..2].each do |photo| %>
                <div class="swiper-slide">
                  <%=image_tag photo, class:"object-cover w-full aspect-ratio"%>
                </div>
              <%end%>
            </div>
          </div>
          <div class="flex flex-row justify-between p-2 ">
            <div class="flex flex-col gap-0.5 overflow-hidden pr-3 justify-between ">
              <div class="w-full overflow-hidden text-base font-bold whitespace-nowrap"><%=room.address%></div>
              <div class="text-gray-500 "><%=Room.human_enum_name(:room_type, room.room_type)%></div>
              <div class="text-sm text-gray-500 ">
              </div>
              <div class="">
                <span class="mr-0.5 tracking-wider text-md"><%=number_to_currency(room.price, negative_format: "(%u%n)",precision:0,unit: "$")%></span>
                <span class="mr-0.5 text-sm">TWD</span>
                <span class="text-sm">晚</span></div>
            </div>
            <div class="flex items-start justify-end ">
              <%if room.reviews.any?%>
                <div class="flex items-center gap-1 text-sm font-medium">
                  <div class="flex items-center gap-1">
                    <i class="pb-0.5 text-sm fa-solid fa-star"></i>
                    <span><%= ((
                      room.reviews.average(:value_rating).floor(1)+
                      room.reviews.average(:accuracy_rating).floor(1)+
                      room.reviews.average(:cleanliness_rating).floor(1)+
                      room.reviews.average(:communication_rating).floor(1)+
                      room.reviews.average(:location_rating).floor(1)+
                      room.reviews.average(:value_rating).floor(1))/6).floor(1) %></span>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
