<div class="flex flex-col gap-3 px-16">
  <h1 class="h1">管理房源</h1>
  <div class="relative mb-2 overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 table-fixed">
      <thead class="text-sm text-gray-700 uppercase bg-gray-50 ">
        <tr>
          <th scope="col" class="w-4/12 py-5 pl-2">
            地址
          </th>
          <th scope="col" class="w-4/12">
            介紹
          </th>
          <th scope="col" class="w-2/12">
            價格
          </th>
          <th scope="col" class="w-2/12">
            選項
          </th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.reverse.each do |room| %>
          <tr class="bg-white border-b ">
            <th scope="row" class="py-5 pl-2 font-medium text-gray-700 whitespace-nowrap">
              <div class="flex flex-col gap-1">
                <%= link_to room.address, room_path(room), class:"block" %>
                <%= Room.human_enum_name(:home_type, room.home_type) %>
              </div>
            </th>
            <td>
              <%= room.summary %>
            </td>
            <td>
              $<%= room.price %>
            </td>
            <td>
              <div class="flex items-center gap-2 ">
                <button  class="px-3 py-2 text-white rounded btn w-fit"><%= link_to "編輯", edit_room_path(room) %></button>
                <a href="<%= room_path(room)%>" data-method="DELETE" data-confirm="確定要刪除嗎？">
                  <i class="p-2 fa-regular fa-trash-can btn-delete "></i>
                </a>
              </div>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <h2 class="h2">即將到來的住宿</h2>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-sm text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            地址
          </th>
          <th scope="col" class="px-6 py-3">
            日期
          </th>
          <th scope="col" class="px-6 py-3">
            入住者
          </th>
          <th scope="col" class="px-6 py-3">
            價格
          </th>
          <th scope="col" class="px-6 py-3">
            選項
          </th>
        </tr>
      </thead>
      <%current_user.bookings.where(state: 3).each do |booking|%>
        <%=booking.start_at%><%=booking.end_at%>
      <% end %>
    </table>
  </div>
  <h2 class="h2">本月預定收入</h2>
  <div class="text-2xl">$<%= @monthly_past_income + @monthly_paid_income %></div>
  <h3 class="h3">已支付：$<%= @monthly_past_income %> 預期：$<%= @monthly_paid_income %></h3>
  <div class="mb-8">
    <%# dashboard will be here %>
    <%= line_chart @monthly_income_data, 
    xmin: Date.today.beginning_of_month, xmax: Date.today.end_of_month, curve: false,
    ytitle: '收入', loading: 'Loading...', empty: 'No data', prefix: '$' %>
  </div>