<div class="flex flex-col w-full gap-5 mx-auto mb-10 text-gray-700 sm:w-11/12 md:w-10/12 xxl:w-9/12 lg:max-w-1366">
  <!-- room_edit -->
  <h1 class="h1">管理房源</h1>
  <div class="relative mb-2 overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 table-fixed">
      <thead class="text-sm text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="w-8/12 px-2 py-5 sm:w-4/12">
            地址
          </th>
          <th scope="col" class="hidden px-2 sm:table-cell sm:w-4/12">
            介紹
          </th>
          <th scope="col" class="w-2/12 px-2 sm:w-2/12">
            價格
          </th>
          <th scope="col" class="w-2/12 px-2 sm:w-2/12">
            選項
          </th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.reverse.each do |room| %>
          <tr class="bg-white border-b ">
            <th scope="row" class="py-5 font-medium text-gray-700 ">
              <div class="flex"><%=image_tag room.photos.first, class:"rounded-lg w-16 h-16 object-cover mr-3", alt:"guest-avatar"%>
                <div class="flex flex-col flex-wrap gap-1 px-2">
                  <%= link_to room.address, room_path(room), class:"block" %>
                  <%= Room.human_enum_name(:home_type, room.home_type) %>
                </div>
              </div>
            </th>
            <td class="hidden px-2 sm:table-cell">
              <%= room.summary %>
            </td>
            <td class="px-2">
              <%= to_twd(room.price)%>
            </td>
            <td>
              <div class="flex flex-col items-start gap-2 px-2 sm:items-center sm:flex-row ">
                <button class="flex-shrink-0 px-1 py-1 text-white rounded sm:px-3 sm:py-2 btn w-fit"><%= link_to "編輯", edit_room_path(room) %></button>
                <a href="<%= room_path(room)%>" data-method="DELETE" data-confirm="確定要刪除嗎？">
                  <i class="flex-shrink-0 p-2 fa-regular fa-trash-can btn-delete"></i>
                </a>
              </div>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <!-- 即將到來的住宿 -->
  <h2 class="h2">住宿列表</h2>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 table-fixed">
      <thead class="text-sm text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="w-4/12 px-2 py-5 sm:w-4/12">
            <%= sort_link(@bookings_query, :room_id, '房源', default_order: :desc) %>
          </th>
          <th scope="col" class="flex flex-col w-3/12 px-2 whitespace-nowrap sm:w-2/12 nowrap">
            <%= sort_link(@bookings_query, :start_at, '住宿開始日') %>
            <%= sort_link(@bookings_query, :end_at, '結束日') %>
          </th>
          <th scope="col" class="hidden w-2/12 px-2 sm:table-cell">
            入住者
          </th>
          <th scope="col" class="w-2/12 px-2">
            總價
          </th>
          <th scope="col" class="w-3/12 px-2 sm:w-2/12">
            狀態
          </th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking|%>
          <tr>
            <th scope="row" class="py-5 font-medium text-gray-700">
              <%= link_to room_path(booking.room) do %>
                <div class="flex flex-col items-start sm:items-center sm:flex-row">
                  <%=image_tag booking.room.photos.first, class:"rounded-lg w-16 h-16 object-cover mr-3", alt:"room-photo"%>
                  <%=booking.room.address%>
                </div>
              <% end %>
            </th>
            <td class="px-2">
              <%=booking.start_at%> - <%=booking.end_at%>
            </td>
            <td class="hidden px-2 sm:table-cell">
              <%=booking.user.name%>
              <%#=image_tag booking.user.avatar, class:"rounded-full w-16 h-16 object-cover", alt:"guest-avatar" %>
            </td>
            <td class="px-2">
              <%=to_twd(booking.price_per_night * (booking.end_at - booking.start_at).to_i)%>
            </td>
            <td class="px-2 text-xs sm:text-sm">
              <%if booking.past?%>
                <span>住宿已結束</span>
                <button class="flex-shrink-0 px-1 py-1 text-white rounded btn w-fit sm:px-3 sm:py-2">評論房客</button>
              <%elsif booking.start_at < Time.current%>
                <span class='bold'>住宿進行中</span>
              <%else%>
                <span>即將到來</span>
              <%end%>
            </td>
          </tr>
          <div class="flex gap-1 font-bold h3">
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- 未來收入 -->
  <div>
    <h2 class="font-bold h2">本月預定收入
      <%= to_twd(@monthly_past_income + @monthly_paid_income)%>
    </h2>
    <div class="text-xl">
      <h3 class="h3">可提領收入：<%= to_twd(@monthly_past_income) %></h3>
      <h3 class="h3">預期收入：<%=  to_twd(@monthly_paid_income) %></h3>
      <div class="mb-8">
        <%# dashboard will be here %>
        <%= line_chart @monthly_income_data, 
    xmin: Date.today.beginning_of_month, xmax: Date.today.end_of_month, curve: false,
    ytitle: '收入', loading: 'Loading...', empty: 'No data', prefix: '$' %>
      </div>
    </div>
