<%= form_with url: bookings_path do %>
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="hidden" name="room_id" value="<%= @room.id %>">
  <input type="hidden" name="room_price" value="<%= @room.price %>">
  <input type="hidden" name="start_at" value="<%= Time.now.to_date %>">
  <input type="hidden" name="end_at" value="<%= 3.days.after.to_date %>">
  <button class="px-5 py-2 mx-10 mb-2 font-bold text-white bg-pink-600 lg:mx-56 rounded-xl">訂房</button>
<% end %>
<section class="w-full px-10 text-gray-700 lg:px-56 ">
  <div class="flex flex-col">
    <h1 class="mb-3 h1">
      新上特價、交通便利、大浴缸、山瑚景觀房、近公車站、青小瑞士花園、步道
    </h1>
    <div class="flex items-center justify-between mb-2">
      <div class="flex gap-2">
        <div>
          <i class="text-lg fa-solid fa-star"></i>
          <span>4.79</span>
        </div>
        <div>42則評價</div>
      </div>
      <div class="flex gap-2">
        <div>
          <i class="fa-solid fa-share"></i>
          <a href="#" class="mr-2">分享</a>
        </div>
        <div>
          <i class="text-sm fa-regular fa-heart"></i>
          <a href="#" class="font">儲存</a>
        </div>
      </div>
    </div>
    <!-- room_img -->
    <div class="grid grid-cols-4 grid-rows-2 gap-3 mb-5 overflow-hidden rounded-2xl">
      <div class="col-span-2 row-span-2 ">
        <img src="https://picsum.photos/600/300?random=12" alt="" class="img-full aspect-ratio"/>
      </div>
      <div>
        <img src="https://picsum.photos/600/300?random=10" alt="" class="img-full aspect-ratio"/>
      </div>
      <div >
        <img src="https://picsum.photos/600/300?random=9" alt="" class="img-full aspect-ratio"/>
      </div>
      <div>
        <img src="https://picsum.photos/600/300?random=7" alt="" class="img-full aspect-ratio"/>
      </div>
      <div>
        <img src="https://picsum.photos/600/300?random=7" alt="" class="img-full aspect-ratio"/>
      </div>
    </div>
    <!-- room_img_end -->
    <div class="flex justify-between gap-10 ">
      <!-- room_info -->
      <div class="flex flex-col w-4/6 col-span-2 gap-3">
        <div class="flex flex-col gap-3">
          <h2 class="text-xl font-bold ">KClub Ubud出租的整套別墅</h2>
          <ul class="flex gap-3 text-sm">
            <li>6位</li>
            <li>3間臥室</li>
            <li>3張床</li>
            <li>3.5間衛浴</li>
          </ul>
        </div>
        <hr>
        <div class="flex flex-col gap-3" >
          <h3 class="h3">有提供的設備與服務</h3>
          <ul class="flex flex-col gap-2 list-none ">
            <li>海灘 緊鄰沙灘</li>
            <li>廚房</li>
            <li>WiFi</li>
            <li>周圍有免費的車道停車位1個車位</li>
            <li>空調設備</li>
          </ul>
        </div>
        <hr>
        <div class="flex flex-col gap-3 ">
          <div class="text-2xl font-black text-pink-700">
            <span>Roomit</span>
            <span class="text-black">cover</span>
          </div>
          <p>針對房東取消預訂、房源描述不實和入住困難等其他問題，我們會為每筆預訂提供免費保障。</p>
        </div>
        <hr>
        <div>
          <h3 class="mb-2 h3">房源介紹</h3>
          <p class="w-1/2 sm:w-3/4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus suscipit obcaecati deserunt? Omnis corporis voluptatum at quia architecto, perferendis, iste reprehenderit a laboriosam ex nam? Repudiandae inventore nostrum repellendus quam!</p>
        </div>
        <hr>
        <div class="flex flex-col">
          <h3 class="mb-2 text-lg font-medium w-fu">住宿地點</h3>
          <h4 class="mb-2 font-medium ">
            Aewol-eup,Cheju、濟州特別自治道、南韓
          </h4>
          <span class="">
            애월 곽지해수욕장을 끼고 있으며 1960~70년대의 빈티지 에어스트림을 축적
          </span>
        </div>
      </div>
      <!-- room_info_end -->
      <!-- booking_card -->
      <div class="flex-grow min-w-max">
        <div class="sticky overflow-y-auto border border-gray-300 shadow-xl row-span-auto top-1/4 rounded-xl">
          <div class="p-5">
            <div class="flex flex-col gap-2">
              <div class="inline-flex">
                <h2 class="mr-2 text-xl font-semibold">$13,818 TWD</h2>
                <span class="text-lg">晚</span>
              </div>
              <div class="flex items-center text-sm">
                <i class="mr-1 fa-solid fa-star"></i>
                <span class="mr-2">5.0</span>
                <p>6</p>
                <p>則評價</p>
              </div>
              <!-- checkin_time -->
              <div class="flex items-center ">
                <div class="relative w-full datepicker form-floating " data-mdb-toggle-button="true">
                  <input type="text" 
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-700 focus:outline-none" placeholder="Select a date" />
                  <label for="floatingInput" class="text-gray-700">選擇入住時間</label>
                  <button class="datepicker-toggle-button" data-mdb-toggle="datepicker">
                    <i class="fas fa-calendar datepicker-toggle-icon"></i>
                  </button>
                </div>
              </div>
              <!-- guest_num -->
              <div class="flex-grow ">
                <select class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-700 focus:outline-none" aria-label="Default select example">
                  <option  selected>選擇入住人數</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <button class="OAuth-btn">預定房間</button>
              <span class="self-center text-sm text-gray-500">您暫時不會被收費</span>
              <div class="flex justify-between gap-10 text-sm text-gray-700">
                <span class="">$12,320 TWD x 7晚</span>
                <span class="">$86,243 TWD</span>
              </div>
              <hr class="my-5">
              <div class="flex justify-between text-lg text-black">
                <span>$7,895 TWD</span>
                <span>稅前總價</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- booking_card_end -->
    </div>
    <hr class="my-5">
    <!-- guest_review -->
    <div class="grid grid-cols-2 gap-5">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3">
          <div class="w-8 h-8 bg-pink-700 rounded-full"></div>
          <div class="text-sm">
            <span>維毅</span>
            <span class="text-gray-400 ">2022年10月</span>
          </div>
        </div>
        <p>
          房東回覆快速，房間乾淨漂亮舒服：）
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3">
          <div class="w-8 h-8 bg-pink-700 rounded-full"></div>
          <div class="text-sm">
            <span>維毅</span>
            <span class="text-gray-400 ">2022年10月</span>
          </div>
        </div>
        <p>
          房東回覆快速，房間乾淨漂亮舒服：）
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3">
          <div class="w-8 h-8 bg-pink-700 rounded-full"></div>
          <div class="text-sm">
            <span>維毅</span>
            <span class="text-gray-400 ">2022年10月</span>
          </div>
        </div>
        <p>
          房東回覆快速，房間乾淨漂亮舒服：）
        </p>
      </div>
    </div>
    <!-- guest_review_end -->
    <hr class="my-5">
    <!-- room_location -->
    <div>
      <h3 class="h3">住宿地點</h3>
      <div class="w-full">
      </div>
      <!-- room_location -->
    </div>
</section>
