<section class="w-full px-10 text-gray-700 lg:px-56">
  <div class="flex flex-col">
    <h1 class="flex gap-2 mb-3 h1">
      <p><%= @room.user.name%></p>
      <p>出租的</p>
      <p><%=Room.human_enum_name(:room_type, @room.room_type)%></p>
    </h1>
    <div class="flex items-center justify-between mb-2">
      <div class="flex gap-2">
        <div>
          <i class="text-lg fa-solid fa-star"></i>
          <span>4.79</span>
        </div>
        <div>42則評價</div>
      </div>
      <div class="flex gap-2">
        <div>
          <i class="fa-solid fa-share"></i>
          <a href="#" class="mr-2">分享</a>
        </div>
        <% if current_user %>
          <button data-controller="wishList" 
          data-action="click->wishList#wishListState" 
            data-id="<%= @room.id%>"
            data-liked="<%= current_user.liked_wish_list_rooms.include?(@room) %>">
            <i data-wishList-target="wishListIcon" class="text-2xl text-gray-500 fa-solid fa-heart opacity-80"></i>
          </button>
        <%end%>
      </div>
    </div>
    <!-- room_img -->
    <div class="grid grid-cols-4 grid-rows-2 gap-3 mb-10 overflow-hidden rounded-2xl">
      <div class="col-span-2 row-span-2 ">
        <%= image_tag @room.photos.first, class:"img-full aspect-ratio"%>
      </div>
      <% @room.photos.all[1..4].each do |photo| %>
        <div>
          <%= image_tag photo ,class:"img-full aspect-ratio"%>
        </div>
      <%end%>
    </div>
    <!-- room_img_end -->
    <div class="relative flex justify-between gap-10 ">
      <!-- room_info -->
      <div class="flex flex-col w-7/12 gap-5">
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-3">
            <h2 class="flex gap-2 text-2xl font-bold">
              <%= @room.address%>
            </h2>
            <ul class="flex gap-2.5 ">
              <li class="flex gap-0.5 border-r border-gray-400 pr-2.5 ">
                <%= @room.max_occupancy%>
                <span>位</span>
              </li>
              <li class="flex gap-0.5 border-r border-gray-400 pr-2.5 ">
                <%= @room.bedrooms%>
                <span>間臥室</span>
              </li>
              <li class="flex gap-0.5 pr-2.5 ">
                <%= @room.bathrooms%>
                <span>間衛浴</span>
              </li>
            </ul>
          </div>
          <div class="rounded-full min-w-max min-h-max">
            <% if @room.user.avatar.attached? %>
              <%= image_tag @room.user.avatar, class:"rounded-full w-16 h-16 object-cover"%>
            <% else %>
              <div class="flex items-center justify-center w-16 h-16 rounded-full ">
                <i class="text-5xl gradient-text fa-solid fa-circle-user"></i>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="flex flex-col gap-3" >
          <h3 class="h3">有提供的設備與服務</h3>
          <ul class="flex flex-col gap-5 pl-2">
            <%equipment_provided.each do |equipment|%>
              <li class="font-medium tracking-wide"><%= equipment %></li>
            <%end%>
          </ul>
        </div>
        <hr>
        <div class="flex flex-col gap-3 ">
          <div class="text-2xl font-black text-pink-700">
            <span>Roomit</span>
            <span class="text-black">cover</span>
          </div>
          <p>針對房東取消預訂、房源描述不實和入住困難等其他問題，我們會為每筆預訂提供免費保障。</p>
        </div>
        <hr>
        <div>
          <h3 class="mb-2 h3">房源簡介</h3>
          <p class="w-1/2 sm:w-3/4">
            <%= @room.summary%>
          </p>
        </div>
        <hr>
        <div class="flex flex-col gap-3">
          <h3 class="mb-2 text-lg font-medium w-fu">住宿地點</h3>
          <h4 class="mb-2 font-medium ">
            <%= @room.address %>
          </h4>
          <div class="text-justify">
            <span class="mb-3 font-bold">鄰近超商：</span>
            <ul class="flex flex-col gap-2 list-none">
              <li>7-ELEVEn 鑫衡陽門市</li>
              <li>全家便利超商 衡慶門市</li>
            </ul>
          </div>
          <div class="text-justify">
            <span class="font-bold">鄰近醫院：</span>
            台大醫院
          </div>
        </div>
      </div>
      <!-- room_info_end -->
      <!-- booking_card -->
      <div class="relative w-5/12">
        <div class="sticky overflow-y-auto border border-gray-300 shadow-sm row-span-auto top-1/4 rounded-xl">
          <%= form_with(url: new_booking_path, method:'get', data: { controller: "booking-card" }) do |form| %>
            <input type="hidden" name="room_id" value="<%= @room.id %>">
            <div class="p-5">
              <div class="flex flex-col gap-3">
                <div class="flex justify-between mb-3">
                  <div class="inline-flex">
                    <h2 class="mr-2 text-xl font-semibold"><%=number_to_currency(@room.price, precision: 0)%></h2>
                    <span class="text-md place-self-center">晚</span>
                  </div>
                  <div class="flex items-center text-sm">
                    <i class="mr-1 fa-solid fa-star"></i>
                    <span class="mr-2">5.0</span>
                    <p>6</p>
                    <p>則評價</p>
                  </div>
                </div>
                <!-- checkin_date -->
                <div class="flex w-full -mb-3 font-bold">
                  <span class="w-full">入住日期</span>
                  <span class="w-full">退房日期</span>
                </div>
                <div class="flex overflow-hidden border-2 border-pink-500 rounded-lg justify-evenly">
                  <%# 入住日期 %>
                  <div class="w-full">
                    <%= form.text_field :start_at ,data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d",
                    flatpickr_min_date: Time.zone.now,
                    flatpickr_disable: @disable_dates,
                    action: "input->booking-card#startDate",
                    "booking-card-target": "startDate"
                    }, class:"p-2 w-full font-bold "%>
                  </div>
                  <%# 退房日期 %>
                  <div class="w-full">
                    <%= form.text_field :end_at ,data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d",
                    flatpickr_min_date: Time.zone.now,
                    flatpickr_disable: @disable_dates.map{|date| date.tomorrow},
                    action: "input->booking-card#endDate",
                    "booking-card-target": "endDate"
                    }, class:"p-2 w-full border-pink-500 border-l-2 font-bold" %>
                  </div>
                </div>
                <!-- guest_num -->
                <div>
                  <%= form.label :headcount,'人數',class:"font-bold"%>
                  <div class="flex items-center gap-2 ">
                    <%= form.select :headcount, options_for_select((1..@room.max_occupancy).to_a)%>
                    <span>位</span>
                  </div>
                </div>
                <% if @room.user == current_user %>
                  <button class="w-full mx-auto font-bold text-gray-700 bg-gray-200 rounded-xl">
                    <%=form.submit '無法預定自己的房源', disabled: true, class: "block w-full h-full p-3 text-white font-bold"%>
                  </button>
                <% else%>
                  <button class="w-full mx-auto my-3 text-gray-500 bg-gray-100 rounded-xl" data-booking-card-target="submitBtn">
                    <%=form.submit '', data:{ 'booking-card-target': "submit", disable_with: "請稍等"}, disabled: true, class: "block w-full h-full p-3 font-bold"%>
                  </button>
                <% end %>
                <span class="self-center text-sm text-gray-500">您暫時不會被收費</span>
                <div class="flex justify-between gap-10 text-sm text-gray-700">
                  <div class="underline">
                    <span data-booking-card-target="price"><%=number_to_currency(@room.price, precision: 0)%></span>
                    <span data-booking-card-target="nights"> x 1 晚</span>
                  </div>
                  <span data-booking-card-target="amount"><%=number_to_currency(@room.price, precision: 0)%></span>
                </div>
                <hr class="my-5">
                <div class="flex justify-between text-lg text-black">
                  <span data-booking-card-target="total"><%=number_to_currency(@room.price, precision: 0)%></span>
                  <span>稅前總價</span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- booking_card_end -->
    </div>
    <hr class="my-5">
    <!-- guest_review -->
    <div class="grid grid-cols-2 gap-5">
      <% @room.reviews.each do |review| %>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <%= image_tag review.user.avatar, class:"rounded-full w-8 h-8 object-cover"%>
            <div class="text-sm">
              <span><%= review.user.name%></span>
              <span class="text-gray-400 "><%= review.created_at.strftime("%Y年%m月")%></span>
            </div>
          </div>
          <p><%= review.comment%></p>
        </div>
      <% end %>
    </div>
    <!-- guest_review_end -->
    <hr class="my-5">
    <!-- room_location -->
    <div>
      <h3 class="mb-2 text-lg font-medium w-fu">住宿地點</h3>
      <div class="w-full">
      </div>
      <!-- room_location -->
      <%= react_component('GoogleRoomMap', 
      { lat: @room.lat.to_f, lng: @room.lng.to_f, api_key: ENV['GOOG_MAPS_API_KEY'] }) %>
      <div>
      </div>
    </div>
  </section>
