<section class="w-full px-10 text-gray-700 lg:px-56 ">
  <div class="flex flex-col ">
    <h1 class="flex gap-2 mb-3 h1">
      <p><%= @room.user.name%></p>
      <p>出租的</p>
      <p><%= @room.home_type%></p>
    </h1>
    <div class="flex items-center justify-between mb-2">
      <div class="flex gap-2">
        <div>
          <i class="text-lg fa-solid fa-star"></i>
          <span>4.79</span>
        </div>
        <div>42則評價</div>
      </div>
      <div class="flex gap-2">
        <div>
          <i class="fa-solid fa-share"></i>
          <a href="#" class="mr-2">分享</a>
        </div>
        <div>
          <i class="text-sm fa-regular fa-heart"></i>
          <a href="#" class="font">儲存</a>
        </div>
      </div>
    </div>
    <!-- room_img -->
    <div class="grid grid-cols-4 grid-rows-2 gap-3 mb-10 overflow-hidden rounded-2xl">
      <div class="col-span-2 row-span-2 ">
        <%=  image_tag @room.photos[0],class:"img-full aspect-ratio"%>
      </div>
      <% @room.photos[1..4].each do |photo| %>
        <div>
          <%= image_tag photo ,class:"img-full aspect-ratio"%>
        </div>
      <%end%>
    </div>
    <!-- room_img_end -->
    <div class="flex justify-between gap-10 ">
      <!-- room_info -->
      <div class="flex flex-col w-4/6 col-span-2 gap-5 ">
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-3">
            <h2 class="flex gap-2 text-2xl font-bold">
              <%= @room.address%>
            </h2>
            <ul class="flex gap-2.5 ">
              <li class="flex gap-0.5 border-r border-gray-400 pr-2.5 ">
                <%= @room.max_occupancy%>
                <span>位</span>
              </li>
              <li class="flex gap-0.5 border-r border-gray-400 pr-2.5 ">
                <%= @room.bedrooms%>
                <span>間臥室</span>
              </li>
              <li class="flex gap-0.5 pr-2.5 ">
                <%= @room.bathrooms%>
                <span>間衛浴</span>
              </li>
            </ul>
          </div>
          <div class="rounded-full min-w-max min-h-max">
            <i class="text-5xl text-gray-600 fa-solid fa-circle-user"></i></div>
        </div>
        <hr>
        <div class="flex flex-col gap-3" >
          <h3 class="h3">有提供的設備與服務</h3>
          <ul class="flex flex-col gap-5 pl-2">
            <%equipment_provided.each do |equipment|%>
              <li class="font-medium tracking-wide"><%= equipment %></li>
            <%end%>
          </ul>
        </div>
        <hr>
        <div class="flex flex-col gap-3 ">
          <div class="text-2xl font-black text-pink-700">
            <span>Roomit</span>
            <span class="text-black">cover</span>
          </div>
          <p>針對房東取消預訂、房源描述不實和入住困難等其他問題，我們會為每筆預訂提供免費保障。</p>
        </div>
        <hr>
        <div>
          <h3 class="mb-2 h3">房源簡介</h3>
          <p class="w-1/2 sm:w-3/4">
            <%= @room.summary%>
          </p>
        </div>
        <hr>
        <div class="flex flex-col">
          <h3 class="mb-2 text-lg font-medium w-fu">住宿地點</h3>
          <h4 class="mb-2 font-medium ">
            Aewol-eup,Cheju、濟州特別自治道、南韓
          </h4>
          <span class="">
            애월 곽지해수욕장을 끼고 있으며 1960~70년대의 빈티지 에어스트림을 축적
          </span>
        </div>
      </div>
      <!-- room_info_end -->
      <!-- booking_card -->
      <div class="flex-grow min-w-max">
        <%= form_with(url: new_booking_path(@room), method:'get', data: { controller: "booking-card" }) do |form| %>
          <div class="sticky overflow-y-auto border border-gray-300 shadow-xl row-span-auto top-1/4 rounded-xl">
            <div class="p-5">
              <div class="flex flex-col">
                <div class="inline-flex">
                  <h2 class="mr-2 text-xl font-semibold">$<%=@room.price%> TWD</h2>
                  <span class="text-lg">晚</span>
                </div>
                <div class="flex items-center text-sm">
                  <i class="mr-1 fa-solid fa-star"></i>
                  <span class="mr-2">5.0</span>
                  <p>6</p>
                  <p>則評價</p>
                </div>
                <!-- checkin_date -->
                <div class="grid grid-cols-2 gap-8">
                  <div class="w-full">
                    <%= form.label :start_at, '入住日期'%>
                    <%= form.text_field :start_at ,data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d",
                    flatpickr_min_date: Time.zone.now,
                    action: "input->booking-card#startDate",
                    "booking-card-target": "startDate"
                    }, class:"p-2 w-full"%>
                  </div>
                  <%# 退房日期 %>
                  <div class="w-full">
                    <%= form.label :end_at, '退房日期'%>
                    <%= form.text_field :end_at ,data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d",
                    flatpickr_min_date: Time.zone.now,
                    action: "change->booking-card#endDate",
                    "booking-card-target": "endDate"
                    }, class:"p-2 w-full"%>
                  </div>
                </div>
                <!-- guest_num -->
                <div class="">
                  <%= form.label :headcount,'人數'%>
                  <div class="flex">
                    <%= form.select :headcount, options_for_select((1..@room.max_occupancy).to_a) %>
                    <span>位</span>
                  </div>
                </div>
                <button class="mx-auto font-bold text-white bg-pink-600 OAuth-btn">預定房間</button>
                <span class="self-center text-sm text-gray-500">您暫時不會被收費</span>
                <div class="flex justify-between gap-10 text-sm text-gray-700">
                  <span data-booking-card-target="price">$<%= @room.price %></span><span data-booking-card-target="nights"> x 1 晚</span>
                  <span data-booking-card-target="amount">$ <%= @room.price %> TWD</span>
                </div>
                <hr class="my-5">
                <div class="flex justify-between text-lg text-black">
                  <span data-booking-card-target="total">$ <%= @room.price %> TWD</span>
                  <span>稅前總價</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- booking_card_end -->
    </div>
    <hr class="my-5">
    <!-- guest_review -->
    <div class="grid grid-cols-2 gap-5">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3">
          <div class="w-8 h-8 bg-pink-700 rounded-full"></div>
          <div class="text-sm">
            <span>維毅</span>
            <span class="text-gray-400 ">2022年10月</span>
          </div>
        </div>
        <p>
          房東回覆快速，房間乾淨漂亮舒服：）
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3">
          <div class="w-8 h-8 bg-pink-700 rounded-full"></div>
          <div class="text-sm">
            <span>維毅</span>
            <span class="text-gray-400 ">2022年10月</span>
          </div>
        </div>
        <p>
          房東回覆快速，房間乾淨漂亮舒服：）
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3">
          <div class="w-8 h-8 bg-pink-700 rounded-full"></div>
          <div class="text-sm">
            <span>白冰冰</span>
            <span class="text-gray-400 ">2022年12月</span>
          </div>
        </div>
        <p>
          非常漂亮，很大泡湯很舒服！
        </p>
      </div>
    </div>
    <!-- guest_review_end -->
    <hr class="my-5">
    <!-- room_location -->
    <div>
      <h3 class="h3">住宿地點</h3>
      <div class="w-full">
      </div>
      <!-- room_location -->
    </div>
  </section>
