<div class="flex w-11/12 mx-auto rounded-md shadow-md">
  <div class="w-2/5 py-4 mx-auto text-gray-700 bg-red-100 bg-opacity-50 rounded-md">
    <div class="w-2/3 mx-auto rounded-l-md">
      <div>
        <%= form_for (@room) do |room| %>
          <div class="mb-2">
            <%= room.label :home_type ,"房源類型" %>
            <%= room.text_field :home_type ,class:"input",readonly: true%>
          </div>
          <div class="mb-2">
            <%= room.label :room_type ,"房間類型" %>
            <%= room.text_field :room_type ,class:"input",readonly: true%>
          </div>  
          <div class="flex justify-between mb-2">
            <div class="w-1/4">
              <%= room.label :max_occupancy ,"可容納人數" %>
              <%= room.number_field :max_occupancy , in: 1..30 ,class:"input",readonly: true%>
            </div>  
            <div class="w-1/4">
              <%= room.label :bedrooms ,"臥房數" %>
              <%= room.number_field :bedrooms , in: 1..10 ,class:"input",readonly: true%>
            </div>    
            <div class="w-1/4">
              <%= room.label :bathrooms ,"洗手間數" %>
              <%= room.number_field :bathrooms , in: 1..100 ,class:"input",readonly: true%>
            </div>  
          </div>
          <div class="flex justify-between mb-2" style="pointer-events: none">
            <div>
              <%= room.label :has_bathtub ,"浴缸" %>
              <%= room.check_box :has_bathtub , class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",disable: true%>
            </div>
            <div>
              <%= room.label :has_kitchen ,"廚房" %>
              <%= room.check_box :has_kitchen ,class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",disable: true%>
            </div>
            <div>
              <%= room.label :has_air_con ,"空調" %>
              <%= room.check_box :has_air_con ,class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",disable: true%>
            </div>
            <div>
              <%= room.label :has_wifi ,"wifi" %>
              <%= room.check_box :has_wifi ,class:"w-4 h-4 text-pink-500 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",disable: true%>
            </div>
          </div>
      
          <div class="mb-2">
            <%= room.label :summary ,"房間簡介" %>
            <%= room.text_area :summary ,class:"input h-28",readonly: true%>
          </div>  
          <div class="mb-2">
            <%= room.label :address ,"地址" %>
            <%= room.text_field :address ,class:"input",readonly: true%>
          </div>    
          <div class="mb-2">
            <%= room.label :price ,"每晚價格" %>
            <%= room.number_field :price , in: 1..100000 ,class:"input",readonly: true%>
          </div>      
          <div class="justify-between w-full mb-2">
            <%= room.label :checkin_start_at ,"可入住時間" %>
            <div class="flex items-center">
              <p class="mr-5">從</p>
              <div class="relative flex items-center">
                <%= room.time_field :checkin_start_at, class:"input",readonly: true%>
              </div>
              <p class="mx-5">到</p>
              <div class="relative flex items-center">
                <%= room.time_field :checkin_end_at, class:"input",readonly: true%>
              </div>
            </div>
          </div>        
          <div class="w-2/3 mb-5">
            <%= room.label :checkout_time ,"退房時間" %>
            <div class="relative flex items-center">
              <%= room.time_field :checkout_time, class:"input",readonly: true%>                
            </div>
          </div>       
          <button class="px-4 py-2 mb-4 font-semibold text-white bg-pink-600 rounded-lg shadow-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            <%= link_to "回到所有房源", rooms_path%>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="w-3/5 bg-cover rounded-r-md" style="background-image: url(http://cdn.home-designing.com/wp-content/uploads/2018/01/flying-pendant-lights-colourful-stools-kitsch-living-room.jpg)"></div>
</div>