<section class="flex w-full bg-white h-full-with-nav ">
  <div class="flex flex-col h-full gap-3 p-5 bg-white">
    <%= link_to url_for(:back),class:"p-2 block font-bold text-gray-400 bg-white w-fit hover:text-gray-500" do%>
      <i class="fa-solid fa-chevron-left"></i>返回
    <%end%>
    <div class="grid w-full grid-cols-1 gap-3 p-2 mx-auto overflow-y-scroll border sm:grid-cols-2 md:grid-cols-1 h-fit md:w-500">
      <% current_user.liked_wish_list_rooms.each do |room| %>
        <div class="flex flex-col items-center gap-2 p-3 bg-white border shadow-md md:flex-row md:items-start rounded-xl">
          <!-- card_img -->
          <div class="relative w-full md:w-1/3 ">
            <div  class="relative flex-grow mx-auto rounded-lg group swiper-container">
              <div class="absolute z-30 flex flex-col justify-between w-full h-full p-3">
                <% if current_user %>
                  <button class="self-end text-2xl text-center transition duration-150 ease-in-out transform hover:scale-125"data-controller="wishList" data-action="click->wishList#wishListState" data-id="<%= room.id%>" data-liked="<%= current_user&.liked_wish_list_rooms&.include?(room) %>">
                    <i data-wishList-target="wishListIcon" class="text-gray-500 opacity-80 fa-solid fa-heart"></i>
                  </button>
                <%end %>
              </div>
              <div class="relative">
                <% if room.photos.attached?%>
                  <%=image_tag room.photos.first, class:"object-cover w-full aspect-ratio"%>
                <%end %>
              </div>
            </div>
          </div>
          <!-- card_text -->
          <div class="flex w-full h-full gap-5 p-2 md:w-2/3 ">
            <div class="flex flex-row justify-between w-full gap-1 overflow-hidden md:flex-col">
              <div class="flex flex-col justify-start gap-1">
                <div class="w-full overflow-hidden text-base font-bold whitespace-nowrap"><%=room.address%></div>
                <div class="text-gray-500"><%=Room.human_enum_name(:home_type, room.home_type) %>的<%=Room.human_enum_name(:room_type, room.room_type)%>
                </div>
                <div class="flex gap-0.5 items-center">
                  <span class="tracking-wider text-md"><%=number_to_currency(room.price, negative_format: "(%u%n)",precision:0,unit: "$")%></span>
                  <span class="text-sm ">TWD</span>
                  <span class="text-sm">晚</span>
                </div>
              </div>
              <% if room.reviews.any?%>
                <div class="flex items-start ">
                  <div class="flex gap-1 text-sm font-medium items-star">
                    <div class="flex items-center gap-1">
                      <i class="pb-0.5 text-sm fa-solid fa-star"></i>
                      <span><%= ((
                      room.reviews.average(:value_rating).floor(1)+
                      room.reviews.average(:accuracy_rating).floor(1)+
                      room.reviews.average(:cleanliness_rating).floor(1)+
                      room.reviews.average(:communication_rating).floor(1)+
                      room.reviews.average(:location_rating).floor(1)+
                      room.reviews.average(:value_rating).floor(1))/6).floor(1) %></span>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="items-center justify-center hidden w-full h-full bg-gray-200 md:flex">
    <span class="text-3xl font-bold">Google Map</span>
  </div>
</section>
