<%= form_with(model: @reviews) do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>
  <div>
    <%= f.label :reviews_date %>
    <%= f.date_field :reviews_date %>
  </div>

  <button class="border-solid border-2 bg-pink-300 ring-offset-4 rounded-full py-1.5 px-4 hover:bg-green-300">    
    <%= f.submit %></button>
  
<% end %>
