<div class="w-full px-10 text-gray-700 lg:px-56 ">
  <h2 class="mb-10 text-3xl font-bold">個人資料</h2>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="grid grid-cols-2 gap-5">
    <div class="flex flex-col gap-5">
      <!-- name_field -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field "id", value:current_user.id %>
        <div data-controller="user-edit"  class="flex flex-col gap-2 py-5 border-b">
          <div class="flex justify-between ">
            <div>
              <h4 class="text-sm">法定名稱</h4>
              <span class="text-sm text-gray-500">
                <div data-user-edit-target="edit_tip" class="hidden">這是你旅行證件（駕照或護照）上所記載的姓名。</div>
                <div data-user-edit-target="current_setting"><%= current_user.name%></div>
              </span>
            </div>
            <div class="flex items-start">
              <button  data-action="click->user-edit#input_switch" class="text-sm font-bold underline">編輯</button>
            </div>
          </div>
          <div  data-user-edit-target="edit" class="flex-col hidden gap-5 ">
            <%= f.text_field :name, autocomplete: "name", class:"input mt-0 mb-3", data:{action:"keydown->user-edit#save"}%>
            <div   class="flex justify-center w-20 px-4 py-1 text-white bg-pink-600 rounded-lg action hover:bg-pink-800">
              <%= f.submit "更新",data:{ "user-edit-target" => "save" }%>
            </div>
          </div>
        </div>
      <% end %>
      <!-- name_field_end -->
      <!-- Email_field -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field "id", value:current_user.id %>
        <div data-controller="user-edit"  class="flex flex-col gap-2 py-5 border-b">
          <div class="flex justify-between ">
            <div>
              <h4 class="text-sm">電子信箱</h4>
              <span class="text-sm text-gray-500">
                <div data-user-edit-target="edit_tip" class="hidden">使用你隨時可存取的電子郵件地址。</div>
                <div data-user-edit-target="current_setting"><%= current_user.email%></div>
              </span>
            </div>
            <div class="flex items-start">
              <button  data-action="click->user-edit#input_switch" class="text-sm font-bold underline">編輯</button>
            </div>
          </div>
          <div  data-user-edit-target="edit" class="hidden name1">
            <%= f.email_field :email, autocomplete: "email", class:"input mt-0 mb-3", data:{action:"keydown->user-edit#save"}%>
            <div   class="flex justify-center w-20 px-4 py-1 text-white bg-pink-600 rounded-lg action hover:bg-pink-800">
              <%= f.submit "更新",data:{ "user-edit-target" => "save" }%>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Email_field_end -->
      <!-- Phone_field -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field "id", value:current_user.id %>
        <div data-controller="user-edit"  class="flex flex-col gap-2 py-5 border-b">
          <div class="flex justify-between ">
            <div>
              <h4 class="text-sm">聯絡電話</h4>
              <span class="text-sm text-gray-500">
                <% if current_user.phone_num.empty? %>
                  <p data-user-edit-target="current_setting">無</p>
                  <div data-user-edit-target="edit_tip" class="hidden">這是您與房東聯繫的最佳管道，需要目前使用的電話號碼。</div>
                <% else %>
                  <div data-user-edit-target="edit_tip" class="hidden">這是您與房東聯繫的最佳管道，需要目前使用的電話號碼。</div>
                  <div data-user-edit-target="current_setting"><%= current_user.phone_num%></div>
                <% end %>
>>>>>>> af6eae1 (add user edit name/email/number)
=======
>>>>>>> 4712e99 (add user edit name/email/number)
              </span>
            </div>
            <div class="flex items-start">
              <button  data-action="click->user-edit#input_switch" class="text-sm font-bold underline">編輯</button>
            </div>
          </div>
          <div  data-user-edit-target="edit" class="hidden name1">
            <%= f.text_field :phone_num, autocomplete: "phone_num", class:"input mt-0 mb-3", data:{action:"keydown->user-edit#save"}%>
            <div class="flex justify-center w-20 px-4 py-1 text-white bg-pink-600 rounded-lg action hover:bg-pink-800">
              <%= f.submit "更新",data:{ "user-edit-target" => "save" }%>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Phone_field_end -->
      <button class="flex justify-center px-4 py-1 mt-auto font-semibold text-gray-500 bg-white border border-gray-500 rounded-lg w-fit hover:border-gray-800 hover:text-gray-800">
        <%= link_to "返回首頁", root_path %>
      </button>
    </div>
    <div class="w-3/4 h-full ml-auto overflow-hidden max-h-96 rounded-xl">
<<<<<<< HEAD
<<<<<<< HEAD
      <img src="/assets/house2.jpeg" alt="" class="object-cover w-full h-full">
=======
      <img src="/assets/house2.jpeg" alt="" class="object-cover w-full h-full"  >
>>>>>>> af6eae1 (add user edit name/email/number)
=======
      <img src="/assets/house2.jpeg" alt="" class="object-cover w-full h-full"  >
>>>>>>> 4712e99 (add user edit name/email/number)
    </div>
  </div>
</div>
